<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
</head>
<body ng-app="app">
<div class="container">

    <div ng-controller="contr">
        <div class="col-md-12">
            <button class="btn btn-ready" ng-click="clearData()">Clear Data</button>
        </div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Photo</th>
            </tr>
            <tr ng-repeat="anunt in anunturi">
                <td><a ng-href="{{anunt.id}}">{{anunt.title}}</a></td>
                <td>
                    <span ng-if="!!anunt.photo"><img src="{{anunt.photo}}"/></span>
                </td>
            </tr>
        </table>
    </div>

</div>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
<script src="bower_components/angular-knob/src/angular-knob.js" type="text/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/jquery-knob/js/jquery.knob.js" type="text/javascript"></script>

<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="bower_components/sockjs-client/dist/sockjs.js"></script>

<!-- endbower -->
<!-- endbuild -->

<script>

    app = angular.module("app", []);
    app.controller("contr", function ($scope, $http, Tracker) {

        $scope.anunturi = [];
        init();
        function init(){
            $http.get("api/first-page").then(function(response){
                $scope.anunturi = response.data;
                Tracker.connect();
                Tracker.subscribe();
                Tracker.receive().then(null, null, function (activity) {
                    for (var property in activity) {
                        if (activity.hasOwnProperty(property)) {
                            $scope.anunturi.unshift(activity[property]);
                        }
                    }
                });
            })
        }

        $scope.clearData = function(){
            $scope.anunturi = [];
        }


    });

    app.factory('Tracker', function ($rootScope, $http, $q) {
        var stompClient = null;
        var subscriber = null;
        var listener = $q.defer();
        var connected = $q.defer();
        return {
            connect: function () {
                var socket = new SockJS('/ws');
                stompClient = Stomp.over(socket);
                stompClient.debug = null;
                stompClient.connect({}, function () {
                    connected.resolve("success");

                });
            },
            subscribe: function () {
                connected.promise.then(function () {
                    subscriber = stompClient.subscribe("/topic/nine", function (data) {
                        listener.notify(JSON.parse(data.body));
                    });
                }, null, null);
            },
            unsubscribe: function () {
                if (subscriber != null) {
                    subscriber.unsubscribe();
                }
            },
            receive: function () {
                return listener.promise;
            },
            disconnect: function () {
                if (stompClient != null) {
                    stompClient.disconnect();
                    stompClient = null;
                }
            }
        };
    })
</script>
</body>
</html>